<style>
body { color: #4B4B4B;font: 0.8em "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体"; }
#top{margin-bottom:20px;}
#top a{color:#00b98d;text-decoration: none;}
#bankinfo,#main{ width:100%;};
</style>