<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>现代化支付系统银行联行号查询</title>
<meta name="keywords" content="联行号,开户联行号,联行号查询,开户行查询,联行号查询网址,联行号是什么,银行联行号,电子联行号,开户行联行号,银行联行号在线查询,怎样查询银行联行号,工商银行联行号查询,建设银行联行号查询,中国银行联行号查询,招商银行联行号查询,中国农业银行联行号查询,银行联行号查询系统,银行联行号查询网站" />
<meta name="description" content="银行联行号就是一个地区银行的唯一识别标志。用于人民银行所组织的大额支付系统\\小额支付系统\\城市商业银行银行汇票系统\\全国支票影像系统（含一些城市的同城票据自动清分系统）等跨区域支付结算业务。由12位组成：3位银行代码+4位城市代码+4位银行编号+1位校验位。" />
<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body ng-app="myApp" ng-controller="BankInfoController as BankInfo">
<div id="main">
<div id="top" >
<p>您好，欢迎使用银行联行号查询系统！</p>
</div>
<hr />
<form name="FbankcodeForm">
<label>请选择银行：
<select ng-model="BankInfo.selectBank" ng-options="bank.bank for bank in BankInfo.bank track by bank.id">
</select>
</label>
<label>请选择省份：
<select ng-model="BankInfo.selectProvince" ng-options="province.province for province in BankInfo.province track by province.id" ng-change="BankInfo.showCity()">
</select>
</label>
<label>请选择城市：
<select ng-model="BankInfo.selectCity" ng-options="item for item in BankInfo.city">
</select>
</label>
<label>关键字(非必输项)：
<input id="keyword" name="keyword" type="text" value="" />
</label>
<input id="show" type="button" ng-click="BankInfo.showResult()" value="行号查询">
</form>
<br />
 <div id="bankinfo"></div>
</div>

<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="JS/app.js"></script>

</body>
</html>
