doctype html
html(lang='zh-CN', ng-app='myApp', ng-controller='BankInfoController as BankInfo')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title 现代化支付系统银行联行号查询
    meta(name='keywords', content='联行号,开户联行号,联行号查询,开户行查询,联行号查询网址,联行号是什么,银行联行号,电子联行号,开户行联行号,银行联行号在线查询,怎样查询银行联行号,工商银行联行号查询,建设银行联行号查询,中国银行联行号查询,招商银行联行号查询,中国农业银行联行号查询,银行联行号查询系统,银行联行号查询网站')
    meta(name='description', content='银行联行号就是一个地区银行的唯一识别标志。用于人民银行所组织的大额支付系统\\小额支付系统\\城市商业银行银行汇票系统\\全国支票影像系统（含一些城市的同城票据自动清分系统）等跨区域支付结算业务。由12位组成：3位银行代码+4位城市代码+4位银行编号+1位校验位。')
    meta(http-equiv='Cache-Control', content='no-transform')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // Libraries
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='/javascripts/app.module.js')
    script(src='/javascripts/app.confi.js')
    script(src='/javascripts/app.controller.js')
    script(src='/javascripts/dirPagination.js')
  body
    block content
